.career_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,auto);
    margin: 10px;
    column-gap: 40px;
}

.address{
    display: grid;
    grid-template-row: repeat(3,auto);
    width: 70%;
}
.photocolor{
    display: grid;
    grid-template-row: repeat(2,auto);
    width: 70%;
}
.copy_box{
    display: grid;
    grid-template-row: repeat(2,auto);

}

.title_career{
    grid-column: 1 / span 2;
    /*height: 25px;*/
    background-color: deepskyblue;
    color: white;
    padding: 10px;
}

#first_name, #last_name {
    width: auto;
    padding: 5px;
}

#email, #phone {
    width: auto;
    padding:  5px 10px;
}

.title_text{
    margin: 10px;
}
.files{
    margin: 10px;
}

.continent{
    margin: 10px;
}
.country{
    margin: 10px;
}
.city{
    margin: 10px;
}
.copyright{
    margin: 10px;
}
.types{
    margin: 10px;
}
.color_picker{
    margin: 10px;
}

.rate_photo{
    margin: 10px;
}

#rate_photo_text{
    width: 20%;
}

#continent_select{
    width: 100%;
}
#country_select{
    width: 100%;
}
#city_select{
    width: 100%;
}
.copyright, .types{
    border: 1px solid grey;
    padding: 5px;
}

.accept{
    grid-column: 1 / span 2;
    margin: 10px;
    padding : 5px;
}

.button_field{
    grid-column: 1 / span 2;
    margin: 10px;
    padding: 10px;
}

.career_button {
    background-color: darkblue;
    cursor: pointer;
    color: white;
    padding: 5px;
    width: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkgreen;
}

.career_button:hover {
    background-color: deepskyblue;
}