@import "reset.css";

.career_container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,auto);
    column-gap: 10px;
    row-gap: 10px;
    width: auto;
    margin: 0 auto;
}

.career_div {
    display: grid;
    margin: 0 auto;
}

.title_career{
    grid-column: 1 / span 2;
    /*height: 25px;*/
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.personal_info{
    margin: 10px;
}

.cv_site{
    margin-top: 10px;
}

.jobs{
    width: auto;
}

.check_box{
}

#first_name, #middle_name, #last_name {
    width: auto;
    padding: 5px;
}

#email, #phone {
    width: auto;
    padding:  5px 10px;
}

.city, .job_category, .job_type{
    margin: 10px;
}

#city_select, #job_type_select, #job_category_select{
    width: 100%;
}

.button_field{
    grid-column: 1 / span 2;
    padding: 10px;
    margin: 0 auto;
}

.career_button {
    background-color: darkblue;
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkgreen;
}

.career_button:hover {
    background-color: deepskyblue;
}