@charset "UTF-8";

/* COMMON */
.body__container {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
}
a {
    text-decoration: none;
}


/* INNER LEFT / RIGHT */
.float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* SECTION */
.section {
    position: relative;
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}


/* HEADER */
header {
    /*border-bottom: 1px solid rgba(0, 0, 0, .75);*/
    /* box-shadow: X Y BLUR SPREAD COLOR; */
    /*box-shadow: 0 0 5px rgba(0, 0, 0, .75);*/
    background: #fff;
}
header .inner {
    height: 78px;
}
/* Menu group(Left) */
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .logo {
    margin-right: 10px;
}
header .logo a {
    background: url("../img/logo.png");
    width: 30px;
    height: 30px;
    display: block;
    text-indent: -9999px; /* 대체 텍스트 */
}
header .main-menu {
    display: flex;
}
header .main-menu li{
    list-style-type: none;
    display: inline;
}

header .main-menu li a {
    padding: 5px;
    margin: 5px;
    display: block;
    color: #3c4146;
}

header .main-menu li a:hover {
    color: #4078c0;
}

#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}



/* FOOTER */
footer .inner {
    padding: 50px 0;
    border-top: 1px solid #eee;
}
footer .site-links {
    display: flex;
}
footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
    list-style-type: none;
    display: inline;

}
footer .site-links li:last-child {
    margin-right: 0;
}
footer .site-links li a {
    color: #4078c0;
}
footer .site-links li a:hover {
    text-decoration: underline;
}
footer .logo {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
footer .logo:hover svg {
    fill: #4078c0;
}