@import "reset.css";

.support_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,auto);
    column-gap: 10px;
    width: auto;
}

.input-field, .button_field {
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.input-field p {
    font-size: 25px;
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

#first_name {
    margin-top: 20px;
}

#email {
    margin: 10px 0;
}

#submit-description, #submit-title {
    margin-bottom: 10px;
    width: 100%;
}

.support_button {
    background-color: darkblue;
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkgreen;
}

.support_button:hover {
    background-color: deepskyblue;
}
