@charset "utf-8";
/* CSS Document */
/*
   Assignment 01
   Developed By:       Jingyu An
   Developed Date:     08-06-2022
   Filename: time-zones.css
   This file contains styles used in the worldTime.html file.
*/
#headbar h2 {
    width: 655px;
    text-align: center;
}
